@import "tailwindcss";
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes slideUp{

from{
transform:translateY(100%);
}

to{
transform:translateY(0);
}

}

.animate-slideUp{
animation:slideUp .3s ease;
}
